root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.{galaxy,xml,SC2Layout}]
indent_size = 4

[*.galaxy]
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
